body {
  --bg-main-color:#F6F4EB;
  --bg-main-color-darker:#F6F4EB;


  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  /* @media screen and (min-width: 4001px) {
       .hero-container{
        zoom: 2.5;
       }
  }
  @media screen and (min-width: 2501px) and (max-width: 4000px) {
    body{
      zoom: 1.75;
     }
  }
  @media screen and (min-width: 1600px) and (max-width: 2500px) {
    body{
      zoom: 1.5;
     }
  }
  @media screen and (max-width: 1599px) {
    body{
      zoom: 1;
     }
  } */